.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 30%;
    margin: 1%;
    margin-top: 1%;
    margin-left: 40%;
   //background-color: lightpink;
  }
  .example-full-width {
    width: 100%;
    padding: 1%;
    
  }
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    padding: 5%;
  }
  .section{
    margin-left: 40%;

  }